.register {
  width: 400px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.camp-name {
  width: 95%;
  height: 35px;
  border-radius: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.btn-register {
  width: 95%;
  height: 35px;
  background: green;
  border-style: none;
  color: #fff;
  border-radius: 4px;
}
